[submodule "vendor/verbly"]
	path = vendor/verbly
	url = https://github.com/hatkirby/verbly
[submodule "vendor/libtwittercpp"]
	path = vendor/libtwittercpp
	url = https://github.com/hatkirby/libtwittercpp
